{%extends 'shop/basic.html'%}
{% block title%} Contact Us{%endblock%}
{% block css%}
.page-footer {
position: fixed;
right: 0;
bottom: 50px;
display: flex;
align-items: center;
padding: 5px;
z-index: 1;
}

.page-footer a {
display: flex;
margin-left: 4px;
}
{%endblock%}
{% block body%}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <h1 class="mb-3">Contact Us</h1>
      <form action="/shop/contact/" method="post"> {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">
            <label for="your-name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="col-md-6">
            <label for="your-surname" class="form-label">Your Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" required>
          </div>
          <div class="col-md-6">
            <label for="your-email" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="col-md-6">
            <label for="your-subject" class="form-label">Your Subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
          </div>
          <div class="col-12">
            <label for="your-message" class="form-label">Your Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <button data-res="<?php echo $sum; ?>" type="submit" class="btn btn-dark w-100 fw-bold">Send</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}
{%block js%}
<script>
  {% if thank %}
  alert('Thanks for contacting with us');
  document.location = "/shop/contact";
  {% endif %}
</script>
{%endblock%}