{%extends 'base.html'%}
{% block title %}Search results{% endblock title %}

{% block body %}
{% for message in messages %}

  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>

{% endfor %}

<div class="container mt-5">
 <h4 style="margin-left:px">Search results: </h4>
 {% if myposts|length < 1 %}
   <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </li>
    </ul>

    {% endif %}
  <div class="row my-2">
      {% for item in myposts %}
      <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">
                       {{item.head0}}
                  </strong>
                  {{item.id}}
                  <h3 class="mb-0">{{item.title}}</h3>
                  <div class="mb-1 text-muted"></div>
                  <p class="card-text mb-auto">{{item.head1}}</p>
                  <a href="/blog/{{item.post_id}}" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title></img>
              </div>
          </div>
      </div>
      {% if forloop.counter|divisibleby:2%}
  </div>
  <div class="row my-2">
      {%endif%}
      {%endfor%}</div>
</div>
{% endblock body %}